{% extends 'base.html.twig' %}

{% block title %}WeMovies!
{% endblock %}

{% block body %}
	<div class="container" id="container">
		{{ include('movies/search.html.twig')}}
		<div class="row">
			<div id="leftNav" class="col">
				{{ include('movies/genres.html.twig')}}
			</div>
			<div class="content col">
				{{ include('movies/movies.html.twig')}}
			</div>
			<div class="col-6 mostPopular">
				<iframe src="{{ dataPopular.video_url }}"></iframe>
				<h3>{{ dataPopular.title }}</h3>
				<p>{{ dataPopular.overview }}</p>
			</div>
		</div>
	</div>

{% endblock %}
