{% extends 'base.html.twig' %}

{% block title %}WeMovies!
{% endblock %}

{% block body %}
	<div class="container" id="container">
		<div class="searchdiv">
			<form autocomplete="off"><input type="text" name="search" id="search"/>
			</form>
			<div id="result" class="result"></div>
		</div>
		<div class="row">
			<div id="leftNav" class="col">
				{% for genre in genres %}
					{% for info in genre %}
						<label class="label">
							<span class="checkmark"></span>
							<input id="{{ info.name }}" type="radio" name="genre" value="{{ info.id }}">
							{{ info.name }}
						</label>
					{% endfor %}
				{% endfor %}
			</div>
			<div class="content col">
				{{ include('movies/movies.html.twig')}}
			</div>
			<div class="col-6 mostPopular">
				<iframe src="{{ dataPopular.video_url }}"></iframe>
				<h3>{{ dataPopular.title }}</h3>
				<p>{{ dataPopular.overview }}</p>
			</div>
		</div>
	</div>

{% endblock %}
